body {
    margin: 5px;
}

@media(min-width: 576px) {
    .no-margin {
        display: flex;
        flex-flow: row wrap;
        margin-right: 0px;
        margin-left: 0px;
    }

    .margin-fix {
        margin-top: 20px;
    }
}

@media(max-width:575px){
    .margin-fix {
    padding-left: 0px;
    padding-right: 0px;
    }
}

.big-text {
    font-size: x-large;
    font-weight: bold;
}

.small-text {
    font-size: small;
}

